.tour-step-backdrop {
    background-color: #fff !important;
    box-shadow: 0px 0px 30px #fff;
}

#InmToggleWrapper div, #InmPlayerWrapper .panel-heading {
    padding-left: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
    background: rgb(212,228,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
}
.InmNS .panel-heading {
    padding: 8px 15px;
    border-bottom: 1px solid rgb(212,228,239);
}
#InmPlayerWrapper .list-group {
    border-top: 1px solid #c0c0c0;
}

#InmToggleWrapper div:before, #InmPlayerWrapper .panel-heading:before {
    content: "?";
    border-radius: 50%;
    padding: 2px 10px 10px 7px;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: -13px;
    top: 5px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
#InmPlayerWrapper .panel-heading:before {
    top: 6px;
}
.InmNS {
    font-size: 14px!important;
}